#head{
      text-decoration:none;
      color: rgb(204, 206, 99);
      font-size: 50px;
      padding-left: 80px;
      text-shadow: 2px 2px rgb(35, 20, 20);
}

.birth{
      color: indigo;
      font-size: 25px;
      background-image: url(/images/cover.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      
}
.two{
    display: inline-block;
    height: 500px;
    width: 500px;
    

      
}
.photo{
      
      height: 600px;
      margin: 80px;
      border: 12px solid rgb(112, 5, 102);
      border-radius: 6px;
      box-shadow: 10px 10px 10px;
}

      .love{
            height: 600px;
            margin: 80px;
            border: 12px solid rgb(91, 8, 139);
            border-radius: 6px;
            box-shadow: 10px 10px 10px;
            margin-left: 300px;
      }

.full{
      background-color: rgb(4, 4, 78);

}
.vedi{
      height: 500px;
      width:750px;
      border: 12px solid rgb(230, 168, 178);
      border-radius: 8px;
      box-shadow: 10px 10px 10px;
      margin-left: 300px;
      margin-bottom: 60px;

}


.footer{

      background-color: rgb(169, 75, 21);
      text-align: center;
      font-size: larger;
      padding: 30px;
      

}
#text{
      color: aliceblue;
}
#textt{
      font-size: 30px;
      color: bisque;
}